Unity Asset Explorer/.vs/Unity Asset Explorer/v15/Server/sqlite3/storage.ide-wal
Unity Asset Explorer/.vs/Unity Asset Explorer/v15/Server/sqlite3/storage.ide-shm
Unity Asset Explorer/.vs/Unity Asset Explorer/v15/Server/sqlite3/storage.ide
Unity Asset Explorer/.vs/Unity Asset Explorer/v15/Server/sqlite3/db.lock
Unity Asset Explorer/.vs/Unity Asset Explorer/DesignTimeBuild/.dtbcache
