Temp/*
ExportedObj/*
Library/*
Build/*
profiles/*
ConventionLogs/*
Assets/UnityVS/*
Assets/UnityVS.meta
*.suo
*.pidb
*.userprefs
/Library
/Screenshots
/obj
/*.sln
/*.suo
/*.unityproj
/*.csproj
/*.unityproj
*.DotSettings.user
gwObj_import.log